<component name="libraryTable">
  <library name="mybatis-spring-2.0.2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/main/webapp/WEB-INF/libs/mybatis-spring-2.0.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/main/webapp/WEB-INF/libs/mysql-connector-java-8.0.16.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>